<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tiledesk-email-transcript-app</title>
    <link rel="stylesheet" href="./css/base.css">
  <script>
  
    window.addEventListener("message", (event) => {
    console.log('addEventListener_frame: ', event)
    if(event && event.data){
      //GET TOK  EN FROM PAGE TILEDESK
      const token = document.getElementById("token");
      console.log('token: ',token)
      //token.value = JSON.stringify(event.data.token);
      token.value = event.data.token;
      console.log('token.value: ',token.value)
      var projectId = document.getElementById("projectId");
      if(event.data.request.id_project){
        //projectId.value = JSON.stringify(event.data.request.department.id_project);
        projectId.value = event.data.request.id_project;
        // ESEMPIO PER LEGGERE LA MAIL DELL'UTENTE
        //projectId.value = event.data.request.lead;  
        console.log('projectId: ',projectId.value)
      }
      request_id.value = event.data.request.request_id;
      console.log('request_id: ',request_id.value)
      const cnf_send = document.getElementById("cnf_send");
      var url = "location.href='https://accept-a-payment-app-into-chat.leomirco.repl.co/getconfigure/?projectId="+projectId.value+"';"
      cnf_send.setAttribute("onclick", url);
      //var url2 = 'https://accept-a-payment-app-into-chat.leomirco.repl.co/getconfigure/?projectId='+projectId.value
      //window.open(url2, '_self')
      //alert("token.value: ", event.data.token);
  }
}, false);


  </script>  
</head>

<body>
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
  <div id="form" class="container">
   <div id="createdPay" style='display: block;text-align:center;'>
   <p class="input-label" id="app_name" style="text-align:center; margin-bottom: 10px;">Send chat history</p>
    
     <div class="box" style="display: flex; flex-direction: row;">
        <div>
         <input type="button" id="cnf_send1" onclick="" style="background: url(/images/manutenzione.png); width: 30px; height: 29px;background-color: white; margin-left:10px; border-radius: 5px;" placeholder="Setup App" />
       </div>
     </div>

     <div style="min-width: 200px;">
     <div class="form-group" style="width: 200px;">
     <label class="input-label" for="recipient_address">Recipient address</label>
     <div style="display: flex; flex-direction: row;">
        <div style="width: 200px;">
         <div style="display: flex; flex-direction: row; align-items: center;">
          <input type="email" class="form-control copy-form custom-input" name="recipient_address" id="recipient_address" placeholder="Recipient address"/>
         </div>
        </div>
      </div>
     </div>

     <div class="form-group" style="width: 200px;">
     <label class="input-label" for="object">Object</label>
     <div style="display: flex; flex-direction: row;">
        <div style="width: 200px;">
          <div style="display: flex; flex-direction: row; align-items: center;">
          <input type="text" class="form-control copy-form custom-input" name="object" id="object" placeholder="Object mail" oninput="reWrite()" required/>
          </div>
        </div>
      </div>
     </div>

       <div class="form-group" style="width: 200px;">
        <label class="input-label" for="message">Message</label>
     <div style="display: flex; flex-direction: row;">
        <div style="width: 200px;">
          <div style="display: flex; flex-direction: row; align-items: center;">
            <textarea id="message" class="form-control copy-form custom-input" name="message" rows="3" cols="30" required placeholder="Body of the email"></textarea>
          </div>
        </div>
      </div> 
       </div>


       

      <!-- SEND TOKEN TO INDEX.JS -->
      <input type='hidden' id='token' name='token' />
      <input type='hidden' id='projectId' name='projectId' />
      <input type='hidden' id='request_id' name='request_id' />

      <div style="width: 200px; text-align: center;">
        <button id='send_btn' class="action-button" >Send chat</button>
     </div>
       
     </div>
     </div>




  </div>
  </div>
   <div id="summaryPay" style='display: none'>
     <p class="input-label" id="app_send" style="text-align:center; margin-bottom: 50px; margin-top: 30px;">Email Transcript App!</p>
     <div style="display: flex; flex-direction: column; align-items: center;">

      <button onclick="document.getElementById('summaryPay').style.display='none';document.getElementById('createdPay').style.display='block';" id='btn_pay' class="action-button" >Send chat history </button>
      <button onclick="document.getElementById('summaryPay').style.display='none';document.getElementById('createdPay').style.display='block';" class="action-button" id='cnf_send' class="action-button">Configure the application</button>
     </div>
   </div>
  
 <script>

   
    function sendData( data, url ) {
      const XHR = new XMLHttpRequest();
      let urlEncodedData = "",
          urlEncodedDataPairs = [],
          name;
      for( name in data ) {
        urlEncodedDataPairs.push( encodeURIComponent( name ) + '=' + encodeURIComponent( data[name] ) );
      }
      urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );
      XHR.addEventListener("loadend", function(event) {
        if (url == 'https://tiledesk-server-pre.herokuapp.com/6346da0276e11d003550d71d/emails/send') {
          //let createdPay = document.getElementById('createdPay');
          //createdPay.style.display = "none";
          //let summaryPay = document.getElementById('summaryPay');
          //summaryPay.style.display = "block";
          document.getElementById("recipient_address").value = "";
          document.getElementById("object").value = "";
          document.getElementById("message").value = "";
        }
        console.log( 'Send mail url/', url ); 
        console.log( 'Send mail data/', data ); 
      });
      XHR.addEventListener( 'error', function(event) {
        console.log( 'Oops! Something went wrong.' );
      } );
      //XHR.open( 'POST', '/payment/created' );
      XHR.open( 'POST', url );
      XHR.setRequestHeader( 'Content-Type', 'application/x-www-form-urlencoded' );
      XHR.setRequestHeader("Authorization", "Basic " + btoa("user:pass"));
      XHR.send( urlEncodedData );
    }

    
    const btnSend = document.getElementById('send_btn');
    const error = document.getElementById('error');
    btnSend.addEventListener( 'click', function() {
      //document.getElementById('summaryPay').style.display='block';
      //document.getElementById('createdPay').style.display='none';
      const recipient_address = document.getElementById('recipient_address');
      const object = document.getElementById('object');
      const message = document.getElementById('message');
      //------------------------------------------------------------
      // VALIDATE CUSTOMER MAIL
      var mail = false;
      var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
      if (recipient_address.value.match(mailformat)) {
        //alert("You have entered a Valid email address!");
        recipient_address.focus();
        mail_correct = true;
        //return true;
      }
      else {
        //alert("Invalid Email Address");
        recipient_address.focus();
        mail_correct = false;
        //return false;
      }
      //------------------------------------------------------------
      console.log("Payment/recipient_address: ", recipient_address.value);
      console.log("Payment/object: ", object.value);
      console.log("Payment/message: ", message.value);
      console.log("Payment/mail_correct: ", mail_correct);
      if ( mail_correct == true && recipient_address.value != '' && recipient_address.value != 'The email is incorrect!'  ) { 
      if (object) {
        sendData( {
          //token:token.value,
          //projectId:projectId.value,
          //request_id:request_id.value,
          to:recipient_address.value,
          subject:object.value,
          text:message.value
        }, 'https://tiledesk-server-pre.herokuapp.com/6346da0276e11d003550d71d/emails/send');
      }  else {
        //amount.value = 0;
      }
      } else {
        recipient_address.value = 'The email is incorrect!';
        recipient_address.style.color='red';
      } 
    });

   // CHANGE COLOR WHILE RE_WRITE THE INPUT TEXT MAIL
    function reWrite() {
      recipient_address = document.getElementById('recipient_address');
      recipient_address.style.color='black';
    }
  </script>
</body>
</html>